body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#content {
  display: flex;
  /* height: 60%; */
  flex: 1; /* This allows the content area to grow and take remaining space */
}

#side-content {
  width: 50%;
  background-color: #f0f0f0;
  padding: 20px;
}

#root {
  width: 50%;
  padding: 20px;
}

